@model Helpdesk.Core.ViewModels.Dashboard.RequestViewModel

@{
    ViewBag.Title = "Fshi kerkese";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestType.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestType.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reception_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reception_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completion_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completion_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current_Status)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
